<div class="articleLeft">
  <h3 class="votes">{{ article.votes }}</h3>
  <p><b>Points</b></p>
</div>
<div class="articleRight">
  <div class="articleInfo">
    <p>
      <a href="{{ article.link }}" target="_blank" class="link">{{
        article.title
      }}</a>
    </p>
    <p>
      {{ article.domain() }}
    </p>
  </div>

  <div class="articleVoting">
    <button class="voteBtn font" (click)="voteUp()">upvote</button>
    <button class="voteBtn font" (click)="voteDown()">downvote</button>
  </div>
</div>
