<form>
  <h3>New Link</h3>
  <div class="form-group">
    <label for="title">Content Title: </label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      placeholder="Enter Content Title ..."
      #newTitle
    />
  </div>

  <div class="form-group">
    <label for="link">Content Link: </label>
    <input
      type="url"
      name="link"
      id="link"
      class="form-control"
      placeholder="Enter Content Link ..."
      #newLink
    />
  </div>

  <button class="btn" (click)="addArticle(newTitle, newLink)">Submit</button>
</form>

<div class="articleList">
  <app-article *ngFor="let article of articles" [article]="article">
  </app-article>
</div>
